nav {
    position: relative;
    width: 25%;
}
nav > * {
    position: absolute;
    display: block;
    cursor: pointer;
}
nav.foldout > *:first-child {
    user-select: none;
    -moz-user-select: none;
    transition: transform .5s;
    font-size: 32px;
    transform: rotate(0deg);
    z-index: 99999;
}
nav.foldout > a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background: #76D7C4;
    margin-top: 0;
    width: 100%;
    transform: rotateX(90deg) skew(40deg);
    transform-origin: center top;
    transition: transform 1s, margin-top 1s;
}
nav.foldout.open > *:first-child {
    transform: rotate(45deg);
}
nav.foldout.open > a {
    transform: rotateX(0) skewX(0);
    margin-top: 0;
}